*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}


body{
    background-color: rgb(83, 12, 165);
}
body::-webkit-scrollbar {
    width: 6px;
}
body::-webkit-scrollbar-thumb {
    background: blue; 
    border-radius: 70px;
}
body::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}





h2{
    padding: 5px;
    color: white;
    background-image: linear-gradient(to right, rgb(31, 29, 29), rgba(108, 108, 255, 0));
}



.icon{
    display: inline-flex;
    overflow-x: hidden;
    width: 100%;
}
.icon li{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgb(214, 225, 255);
    margin: 5px;
    transition: .30s;
}
.icon li img{
    width: 100%;
}
.icon li:nth-child(1){
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content:center;
    align-items: center;
    border: 2px dashed black;
}

.icon li:hover{
    box-shadow: 1px 1px 2px black;
    transform: rotate(15deg);
}




.list-pesan{
    width: 100%;
    margin-top: 10px;
}


.list-pesan li {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
    background-image: linear-gradient(to right, rgb(31, 29, 29), rgba(1, 1, 255, 0));
    cursor: pointer;
}
.list-pesan li:hover{
    background-image: linear-gradient(to right, rgb(65, 61, 61), rgba(7, 7, 146, 0.623));
}
.list-pesan li:hover .fto{
    transform: scale(1.1);
}
.list-pesan li .fto{
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 30%;
}
.list-pesan li .fto img{
    width: 100%;
}
.list-pesan li .ket{
    width: 85%;
}
.list-pesan li .ket h3{
    color: white;
}
.list-pesan li .ket h4{
    color: rgb(251, 255, 209);
}